.card {
  width: 30%;
  height: 100%;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(9, 90, 121);
  background: linear-gradient(
    90deg,
    rgba(9, 90, 121, 1) 17%,
    rgba(15, 31, 149, 1) 68%
  );
  border-radius: 10px;
  -webkit-box-shadow: 4px 5px 0px 1px rgba(0,0,0,0.21);
-moz-box-shadow: 4px 5px 0px 1px rgba(0,0,0,0.21);
box-shadow: 4px 5px 0px 1px rgba(0,0,0,0.21);
  padding: 20px;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

.buttonCard {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  background: red;
  padding: 4px 6px;
}

.titleCity {
  font-size: 2rem;
  color: white;
  text-align: center;
  font-weight: bold;
  margin: 20px;
}

.maxMin {
  color: #fff;
  font-size: 1.5rem;
  display: flex;
  gap: 20px;
}

span {
  font-size: 1.5rem;
  font-weight: bold;
}

.buttonInf {
  border-radius: 10px;
  border: none;
  transition: all 0.3s ease-in-out;
}

.buttonInf:hover {
  background: rgb(0, 0, 0);
  color: #fff;
}
