.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(15, 20, 26);
  padding: 10px;
  width: 100%;
}
.navTitle {
  display: flex;
  gap: 30px;
  color: #fff;
}

.navTitle h2 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  white-space: pre;
  align-items: center;
}

.navAbout {
  margin-left: 650px;
}

.navAbout h3 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
}

.navAbout h3:hover {
  color: rgba(9, 90, 121, 1);
}
